AI_Receptionist_Final.json
{
  "name": "DewPoint Master - Complete Google Edition",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vapi-google-prod",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-master",
      "name": "Vapi Inbound",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "VAPI_SECRET",
              "value": "T4e_d3wP0int_Gr0up_S3cret_2026!"
            },
            {
              "name": "PATCHEN_EMAIL",
              "value": "patchenu@thedewpointgroup.com"
            },
            {
              "name": "MIKE_EMAIL",
              "value": "miked@thedewpointgroup.com"
            }
          ]
        },
        "options": {}
      },
      "id": "config-node",
      "name": "Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        200,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Vapi Inbound').first().json.headers['x-vapi-secret'] }}",
              "value2": "={{ $('Configuration').item.json.VAPI_SECRET }}"
            }
          ]
        }
      },
      "id": "security-node",
      "name": "Security: Verify Secret",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        400,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"error\": \"Unauthorized\"}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "unauth-node",
      "name": "401 Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        400,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body;\nconst message = body.message || {};\nconst toolCalls = message.toolCalls || [];\nconst tool = toolCalls.length > 0 ? toolCalls[0] : null;\nconst toolId = tool ? tool.id : null;\nconst toolName = tool ? tool.function.name : (message.type === 'end-of-call-report' ? 'end_of_call' : 'no_tool');\nconst args = tool ? tool.function.arguments : {};\n\nconst callerNumber = message.customer?.number || 'Unknown';\nconst callerName = args.caller_name || message.customer?.name || 'Caller';\n\nconst config = $('Configuration').item.json;\nconst directory = {\n    \"patchen\": config.PATCHEN_EMAIL,\n    \"mike\": config.MIKE_EMAIL,\n    \"support\": \"support@thedewpointgroup.com\",\n    \"default\": config.PATCHEN_EMAIL\n};\nlet targetName = (args.target_name || args.person || args.recipient_name || \"Patchen\").toLowerCase();\nlet targetEmail = directory[targetName] || directory[\"default\"];\n\nlet targetDateRaw = args.startTime || args.date || args.new_start_time || new Date().toISOString();\nconst d = new Date(targetDateRaw);\nconst availStart = new Date(d);\navailStart.setUTCHours(0,0,0,0);\nconst availEnd = new Date(d);\navailEnd.setUTCHours(23,59,59,999);\n\nconst now = new Date();\nconst searchStart = new Date(now.getTime() - 60 * 60000).toISOString(); \nconst searchEnd = new Date(now.getTime() + 7 * 24 * 60 * 60 * 1000).toISOString();\n\nreturn [{\n    json: {\n        toolName, toolId, args, callerNumber, callerName,\n        targetName, targetEmail, availStart: availStart.toISOString(), availEnd: availEnd.toISOString(),\n        searchStart, searchEnd\n    }\n}];"
      },
      "id": "parse-payload-node",
      "name": "Parse Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        0
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.toolName }}",
        "rules": {
          "rules": [
            {
              "value2": "check_availability",
              "output": 0
            },
            {
              "value2": "book_appointment",
              "output": 1
            },
            {
              "value2": "log_unanswered_question",
              "output": 2
            },
            {
              "value2": "escalate_emergency",
              "output": 3
            },
            {
              "value2": "take_message",
              "output": 4
            },
            {
              "value2": "lookup_service",
              "output": 5
            },
            {
              "value2": "manage_appointment",
              "output": 6
            },
            {
              "value2": "initiate_transfer",
              "output": 7
            },
            {
              "value2": "end_of_call",
              "output": 8
            },
            {
              "value2": "no_tool",
              "output": 9
            }
          ]
        },
        "fallbackOutput": 9
      },
      "id": "router-node",
      "name": "Dept Router V3",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        800,
        0
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "={{ $('Parse Payload').item.json.targetEmail }}",
          "mode": "id"
        },
        "timeMin": "={{ $('Parse Payload').item.json.availStart }}",
        "timeMax": "={{ $('Parse Payload').item.json.availEnd }}",
        "options": {
          "recurringEventHandling": "expand"
        }
      },
      "id": "cal-avail",
      "name": "Cal: Check Avail",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.1,
      "position": [
        1000,
        -600
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst isBusy = items.length > 0;\nreturn [{ json: { result: isBusy ? `They are busy.` : `They are available.` } }];"
      },
      "id": "logic-avail",
      "name": "Logic: Calc Slots",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        -600
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ results: [{ toolCallId: $('Parse Payload').item.json.toolId, result: $json.result }] }) }}",
        "options": {}
      },
      "id": "resp-avail",
      "name": "Resp: Availability",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1400,
        -600
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "calendar": {
          "__rl": true,
          "value": "={{ $('Parse Payload').item.json.targetEmail }}",
          "mode": "id"
        },
        "start": "={{ $('Parse Payload').item.json.args.startTime }}",
        "end": "={{ $('Parse Payload').item.json.args.endTime }}",
        "summary": "={{ $('Parse Payload').item.json.args.reason || 'Meeting' }}",
        "options": {
          "attendees": "={{ $('Parse Payload').item.json.args.email }}"
        }
      },
      "id": "cal-book",
      "name": "Cal: Book Appt",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.1,
      "position": [
        1000,
        -450
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ results: [{ toolCallId: $('Parse Payload').item.json.toolId, result: { status: 'success' } }] }) }}",
        "options": {}
      },
      "id": "resp-book",
      "name": "Resp: Booked",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1200,
        -450
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "1Vda6Snc-wtiQY9aJDthqcC_D33onW1s8t4NFOacUBYE",
        "sheetName": "unanswered_questions",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Question": "={{ $('Parse Payload').item.json.args.question }}",
            "Status": "New"
          }
        }
      },
      "id": "sheet-q",
      "name": "Sheets: Log Question",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1000,
        -300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ results: [{ toolCallId: $('Parse Payload').item.json.toolId, result: { status: 'logged' } }] }) }}",
        "options": {}
      },
      "id": "resp-q",
      "name": "Resp: Question",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1200,
        -300
      ]
    },
    {
      "parameters": {
        "from": "+18443210745",
        "to": "+18186204362",
        "message": "=URGENT Emergency Alert: {{ $('Parse Payload').item.json.args.details }}",
        "options": {}
      },
      "id": "twilio-alert",
      "name": "Twilio: Send Alert",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1000,
        -150
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "1Vda6Snc-wtiQY9aJDthqcC_D33onW1s8t4NFOacUBYE",
        "sheetName": "emergency_Log",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Details": "={{ $('Parse Payload').item.json.args.details }}"
          }
        }
      },
      "id": "sheet-em",
      "name": "Sheets: Log Emergency",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1200,
        -150
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ results: [{ toolCallId: $('Parse Payload').item.json.toolId, result: { status: 'escalated' } }] }) }}",
        "options": {}
      },
      "id": "resp-em",
      "name": "Resp: Escalated",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1400,
        -150
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { recipient: $('Parse Payload').item.json.targetEmail, content: $('Parse Payload').item.json.args.message_content } }];"
      },
      "id": "msg-prep",
      "name": "Message Prep",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        0
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.recipient }}",
        "subject": "New Message",
        "message": "={{ $json.content }}",
        "options": {}
      },
      "id": "gmail-send",
      "name": "Gmail: Send Message",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1200,
        0
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "1Vda6Snc-wtiQY9aJDthqcC_D33onW1s8t4NFOacUBYE",
        "sheetName": "messages",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Content": "={{ $('Message Prep').item.json.content }}"
          }
        }
      },
      "id": "sheet-msg",
      "name": "Sheets: Append Msg",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1400,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ results: [{ toolCallId: $('Parse Payload').item.json.toolId, result: \"Message delivered\" }] }) }}",
        "options": {}
      },
      "id": "resp-msg",
      "name": "Resp: Message Taken",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1600,
        0
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "documentId": "1Vda6Snc-wtiQY9aJDthqcC_D33onW1s8t4NFOacUBYE",
        "sheetName": "knowledge_base",
        "options": {}
      },
      "id": "sheet-kb",
      "name": "Sheets: Search KB",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1000,
        150
      ]
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json);\nconst topic = ($('Parse Payload').item.json.args.topic || '').toLowerCase();\nconst match = rows.find(r => (r.Topic || '').toLowerCase().includes(topic));\nreturn { json: { result: match ? match.Details : \"No info found.\" } };"
      },
      "id": "logic-kb",
      "name": "Logic: KB Search",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        150
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ results: [{ toolCallId: $('Parse Payload').item.json.toolId, result: $json.result }] }) }}",
        "options": {}
      },
      "id": "resp-kb",
      "name": "Resp: KB",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1400,
        150
      ]
    },
    {
      "parameters": {
        "jsCode": "const payload = $(\"Parse Payload\").item.json;\nreturn [{ json: { targetEmail: payload.targetEmail, action: payload.args.action, startTime: payload.args.new_start_time || payload.args.startTime, email: payload.args.customer_email || payload.args.email } }];"
      },
      "id": "mng-prep",
      "name": "Management Prep",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        300
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "={{ $json.targetEmail }}",
          "mode": "id"
        },
        "options": {
          "q": "={{ $json.email }}"
        }
      },
      "id": "cal-mng-search",
      "name": "Cal: Search Appt",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.1,
      "position": [
        1200,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const match = $input.all().length > 0 ? $input.all()[0].json : null;\nconst prep = $(\"Management Prep\").item.json;\nreturn [{ json: { eventId: match ? match.id : null, action: prep.action, startTime: prep.startTime } }];"
      },
      "id": "logic-mng",
      "name": "Logic: Mng Action",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.action }}",
              "value2": "reschedule"
            }
          ]
        }
      },
      "id": "mng-router",
      "name": "Logic: Action Router",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1600,
        300
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "={{ $(\"Management Prep\").item.json.targetEmail }}",
          "mode": "id"
        },
        "eventId": "={{ $json.eventId }}",
        "updateFields": {
          "start": "={{ $(\"Management Prep\").item.json.startTime }}"
        }
      },
      "id": "cal-upd",
      "name": "Cal: Update Appt",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.1,
      "position": [
        1800,
        200
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "={{ $(\"Management Prep\").item.json.targetEmail }}",
          "mode": "id"
        },
        "eventId": "={{ $json.eventId }}"
      },
      "id": "cal-del",
      "name": "Cal: Delete Appt",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.1,
      "position": [
        1800,
        400
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ results: [{ toolCallId: $('Parse Payload').item.json.toolId, result: \"Management action completed.\" }] }) }}",
        "options": {}
      },
      "id": "resp-mng",
      "name": "Resp: Managed",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2000,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { target: $('Parse Payload').item.json.targetEmail } }];"
      },
      "id": "trans-prep",
      "name": "Transfer Prep",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        450
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "={{ $json.target }}",
          "mode": "id"
        },
        "limit": 1
      },
      "id": "cal-trans-check",
      "name": "Cal: Check Transfer",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.1,
      "position": [
        1200,
        450
      ]
    },
    {
      "parameters": {
        "jsCode": "const busy = $input.all().length > 0;\nreturn [{ json: { status: busy ? \"busy\" : \"available\" } }];"
      },
      "id": "logic-trans",
      "name": "Logic: Trans Avail",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        450
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ results: [{ toolCallId: $('Parse Payload').item.json.toolId, result: { status: $json.status } }] }) }}",
        "options": {}
      },
      "id": "resp-trans",
      "name": "Resp: Transfer",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1600,
        450
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "OK",
        "options": {}
      },
      "id": "resp-eoc",
      "name": "Resp: End of Call 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1000,
        600
      ]
    },
    {
      "parameters": {
        "amount": 45,
        "unit": "seconds"
      },
      "id": "wait-node",
      "name": "Wait 45 Seconds",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1200,
        600
      ],
      "webhookId": "cb315e12-d3a0-49ad-844c-2bc158866187"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "1Vda6Snc-wtiQY9aJDthqcC_D33onW1s8t4NFOacUBYE",
        "sheetName": "call_logs",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Call ID": "={{ $('Parse Payload').item.json.callId }}"
          }
        }
      },
      "id": "sheet-log",
      "name": "Sheets: End Call Log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1400,
        600
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "OK",
        "options": {}
      },
      "id": "resp-ok",
      "name": "Default 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1000,
        750
      ]
    }
  ],
  "connections": {
    "Vapi Inbound": {
      "main": [
        [
          {
            "node": "Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configuration": {
      "main": [
        [
          {
            "node": "Security: Verify Secret",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Security: Verify Secret": {
      "main": [
        [
          {
            "node": "Parse Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "401 Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Payload": {
      "main": [
        [
          {
            "node": "Dept Router V3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dept Router V3": {
      "main": [
        [
          {
            "node": "Cal: Check Avail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cal: Book Appt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sheets: Log Question",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Twilio: Send Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message Prep",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sheets: Search KB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Management Prep",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Transfer Prep",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resp: End of Call 200",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Default 200 OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cal: Check Avail": {
      "main": [
        [
          {
            "node": "Logic: Calc Slots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Logic: Calc Slots": {
      "main": [
        [
          {
            "node": "Resp: Availability",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cal: Book Appt": {
      "main": [
        [
          {
            "node": "Resp: Booked",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets: Log Question": {
      "main": [
        [
          {
            "node": "Resp: Question",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twilio: Send Alert": {
      "main": [
        [
          {
            "node": "Sheets: Log Emergency",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets: Log Emergency": {
      "main": [
        [
          {
            "node": "Resp: Escalated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message Prep": {
      "main": [
        [
          {
            "node": "Gmail: Send Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail: Send Message": {
      "main": [
        [
          {
            "node": "Sheets: Append Msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets: Append Msg": {
      "main": [
        [
          {
            "node": "Resp: Message Taken",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets: Search KB": {
      "main": [
        [
          {
            "node": "Logic: KB Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Logic: KB Search": {
      "main": [
        [
          {
            "node": "Resp: KB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Management Prep": {
      "main": [
        [
          {
            "node": "Cal: Search Appt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cal: Search Appt": {
      "main": [
        [
          {
            "node": "Logic: Mng Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Logic: Mng Action": {
      "main": [
        [
          {
            "node": "Logic: Action Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Logic: Action Router": {
      "main": [
        [
          {
            "node": "Cal: Update Appt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cal: Delete Appt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cal: Update Appt": {
      "main": [
        [
          {
            "node": "Resp: Managed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cal: Delete Appt": {
      "main": [
        [
          {
            "node": "Resp: Managed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transfer Prep": {
      "main": [
        [
          {
            "node": "Cal: Check Transfer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cal: Check Transfer": {
      "main": [
        [
          {
            "node": "Logic: Trans Avail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Logic: Trans Avail": {
      "main": [
        [
          {
            "node": "Resp: Transfer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resp: End of Call 200": {
      "main": [
        [
          {
            "node": "Wait 45 Seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 45 Seconds": {
      "main": [
        [
          {
            "node": "Sheets: End Call Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}